<header class="doc-header">

  <div class="wrapper wrapper-border">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign categories = site.pages
      | where_exp:"item", "item.category contains 'doc_category'"
      | sort: 'title' -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- if titles_size > 0 -%}
      <nav class="doc-nav">
        {%- for cat in categories-%}
        {%- if cat.title -%}
        {%- if cat.url == page.url -%}
        <a class="doc-page-link bold-text" href="{{ cat.url | relative_url }}">{{ cat.title | escape }}</a>
        {%- else -%}
        <a class="doc-page-link" href="{{ cat.url | relative_url }}">{{ cat.title | escape }}</a>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
      </nav>
    {%- endif -%}
  </div>
</header>
