.md-button {
  max-height: 4%;
  max-width: 8%;
}
.photo {
  max-height: 100%;
}
.photo-preview {
  max-height: 25% !important;
  max-width: 25%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
  gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
