.md-button {
  max-height: 4%;
  max-width: 8%;
}
.photo {
  max-height: 100%;
}
.photo-preview {
  max-height: 25% !important;
  max-width: 25%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px; /* spacing between images */
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px; /* spacing between images */
}

.photo-grid img {
  width: 100%;
  height: 150px;       /* fixed height */
  object-fit: cover;   /* crop to fit box */
  border-radius: 8px;  /* optional rounded corners */
}
