.doc-header {
    /*border-top: 5px solid $border-color-03;*/
    border-bottom: 1px solid $border-color-01;
    min-height: $spacing-unit * 0.5;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.doc-nav {
    position: static;
    float: left;
    top: 9px;
    left: $spacing-unit * .5;
    background-color: inherit;
    border: none; /*1px solid $border-color-01
    border-radius: 5px;*/
    text-align: left;

    .doc-page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: inline;
        padding: 0; /*5px 10px;*/

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        margin-left: auto;
    }
}