/*.doc-content {
    padding-top: 0px;
}*/

.doc-header {
    line-height: $base-line-height * $base-font-size * 1.25;

    position: relative;
}

.doc-nav {
    position: static;
    float: left;
    top: 9px;
    left: $spacing-unit * .5;
    background-color: inherit;
    border: none;
    text-align: left;

    .doc-page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: inline;
        padding: 0;

        &:not(:last-child) {
            margin-right: 20px;
        }
        margin-left: auto;
    }
}

.doc-page {
    display: block;
    min-width: 66.6666%;
    max-width: 100%;
    float: left;
    margin: 10px;
}

.wrapper-border {
    border: 1px solid $border-color-01;
    border-top: none;
}

.current-doc-cat {
    text-decoration: underline;
}

/*
// Hover-over version
.TOC {
    position: absolute;
    display: inline-block;

    &:hover .toc-dropdown-list {
        display: block;
    }

    .dropbtn {
        background-color: inherit;
        color: $text-color;
        border: 1px solid $border-color-01;
    }

    .toc-dropdown-list {
        display: none;
        position: absolute;
        background-color: inherit;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    @media screen and (min-width: $on-medium) {
        float: left;
        position: sticky;
        width: 200px;
        left: 0px;
        top: 0px;
        scroll-behavior: smooth;
        height: 500px;
        white-space: nowrap;
        line-height: 5px;
        display: block;
        margin: 10px;
        overflow: hidden;

        &:hover {
            overflow: auto
        }
    }
}
*/

.post-list {
    a {
        color: $text-color;
    }

    padding-top: 10px;
    padding-bottom: 10px;
}

// Click version
.toc-dropdown {
    position: relative;
    float: left;
    width: 200px;

    input[type="checkbox"] {
        position: absolute;
        left: -100vw;

        :checked  ~ ul {
            left: 0;
        }

        :checked + label:after {
            content: "\f0d8";
        }
    }

    label {
        display: inline-block;
        padding: 6px 15px;
        color: inherit;
        line-height: 1.5em;
        text-decoration: none;
        border: 1px solid $border-color-01;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        &:hover {
            border-color: $border-color-02;
        }

        ::after {
            content: "\f0d7";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: 6px;
        }
    }

    ul {
        position: absolute;
        z-index: 999;
        display: block;
        left: -100vw;
        top: calc(1.5em + 14px);
        border: 1px solid $border-color-01;
        background: inherit;
        padding: 6px 0;
        margin: 0;
        list-style: none;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
        -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
        box-shadow: 0 3px 8px rgba(0,0,0,.15);

        a {
            display: block;
            padding: 6px 15px;
            text-decoration: none;
            color: $border-color-01;

            &:hover, :focus {
                background: $border-color-02;
            }
        }
    }
}